body {
    background-color: darkgrey;
}

header {
    background-color: blanchedalmond;
    font-family: cursive monospace;
}
nav {
    background-color: goldenrod;
}

main {
background-attachment: fixed;
}

p.byline{
    font-style: italic;
}
footer {
background-color: burlywood
}