button {
    background-color:gold;
    border: 12px black;
    color:red;
    text-align: center;
    font: size 16px;
}

header {
    background-color: violet;

}

header p {
    text-align: center;
    font-weight: bold;
    font-size: 110%;
}

h1.New-Point {
    text-align: center;
}

.byline {
    font-style: italic;
    font-size: 80%;
}


main {
background-color: blue;
    
}

footer {
    text-align: center;
    
}
